manifest {
    name                                  = 'UK-Biobank-microarray-nf'
    description                           = 'Nextflow pipeline to simulate UK Biobank microarrays'
    author                                = 'Laura Schöttle'
    homePage                              = 'https://github.com/LauSchoe/UK-Biobank-microarray-nf'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {
    project         = null
    ref_pan         = null
    files           = null
    outdir          = null 
}



profiles {
    process.container = 'ukb_image'
    docker.enabled    = true
}
